.tieupBG {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Takes the full width of the container */
  background-image: url("./2675400.jpg");
  background-size: cover; /* Background image covers the element */
  background-repeat: no-repeat; /* No repeated background images */
  background-position: center; /* Background image centered */
  height: auto; /* Container height set to 70% of the viewport height */
}

.tieupBG .h1Bg {
  color: rgb(255, 255, 255); /* White text color */
  /* background-color: rgba(0, 0, 0, 0.72); Semi-transparent black background */
  font-size: 30px; /* Font size for the heading */
  padding: 1%; /* Padding around the text */
  text-align: center; /* Text is centered */
  margin-bottom: 20px; /* Space below the heading */
}

.tieupBG .IMGBGcmpy {
  width: 100%; /* Takes up the full width of its container */
}

.tieupBG .card-img-top {
  margin-bottom: 10px; /* Space below each image */
  transition: transform 0.3s ease; /* Smooth transition on hover */

}

.tieupBG .card-img-top:hover {
  transform: scale(1.35); /* Slightly enlarge the image on hover */
}
