/* Curriculum.css */

.CCAD{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/CCivil.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center ;
  /* color: rgb(0, 0, 0); */
  font-size: 20px;
}


.CCAD .curriculum-heading {
  padding: 35px;
  text-align:center;
  color: #ffffff; /* Dark text color */
}

.CCAD .accordion-container {
  display: flex;


  justify-content: space-between; /* Spread accordion columns evenly */
}

.CCAD .accordion-column {
  

  flex: 0 0 48%; /* Set width of accordion columns */
}

.CCAD .accordion-item {
  margin: 20px;
  border-radius: 20px;
 
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.816); /* Add shadow effect to accordion items */
}
/* forButton */
.CCAD .accordion-title {
  background-color: #ffffffa6; /* Light gray background for accordion title */
  padding: 20px;
  color: rgb(0, 0, 0);


  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.CCAD .accordion-content {
  
  max-height: 0;
  overflow: hidden;
  color: rgb(255, 255, 255);

  transition: max-height 1.2s ease-in-out; /* Smooth transition when opening and closing accordion content */
}

.CCAD .accordion-content.open {
  
  max-height: 500px; /* Adjust the maximum height as needed */
}





/* Small devices (phones, 576px and up) */
@media (min-width: 176px) {
  .CCAD{
    font-size: 10px;
    color: black;
    font-weight: bold; /* Add font bold */


}
}
@media (min-width: 376px) {
  .CCAD{
    font-size: 11px;

}
}
@media (min-width: 576px) {
  .CCAD{
    font-size: 15px;

}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}